defaults write com.apple.dock tilesize -int 56
defaults write com.apple.dock largesize -int 128
defaults write com.apple.dock orientation -string "left"
defaults write com.apple.dock launchanim -bool false
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock minimize-to-application -bool false

# 隠しファイルを常にファインダーに表示する
defaults write com.apple.finder AppleShowAllFiles YES

# 拡張子を表示
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

# 他のMacで購入したアプリを自動的にダウンロードする
defaults write com.apple.SoftwareUpdate ConfigDataInstall -int 1

# Safari の開発・デバッグメニューを有効にする
defaults write com.apple.Safari WebKitDeveloperExtrasEnabledPreferenceKey -bool true

# DS_Storeファイルを作らない
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool TRUE

# 開発元アプリが開けない問題
sudo spctl --master-disable
